// Here you can add other styles
.blue-box {
    background-color: #dae8fc; /* Azul Claro */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
  }
  
.blue-box-2 {
background-color: #abc4de; /* Azul Claro */
padding: 15px;
margin: 10px 0;
border-radius: 8px;
}

.no-bullets {
  list-style-type: none;
  list-style-position: inside;
}

.input-label {
  margin-right: 10px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-text {
  font-size: small;
  color: #424242;
}
